<div class="index_container">
  <p id="notice"><%= notice %></p>
  <div class="registrar_title" style="text-transform:Uppercase;">
      <%= image_tag("registrar.svg", :alt => "") %>
  </div>
  <div class="bloco1">
  </div>
  <div class="bloco2">
  </div>
  <div class="signform">
    <div class="sign_wrapper">
      <div style="width: 45%;">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
          <div class="field"> 
            <span><%= f.label :email %></span>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
          <div class="field"> 
            <span><%= f.label :password %></span>
            <% if @minimum_password_length %>
            <label class="pass">(<%= @minimum_password_length %> characters minimum)</label>
            <% end %>
            <%= f.password_field :password, autocomplete: "new-password" %>
          </div>
          <div class="field">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>
          <div class="actions">
            <%= f.submit "Sign up" %>
          </div> 
          <div class="shared">
            <%= render "devise/shared/links" %>
          </div>
      </div>
      <div style="width: 45%;">
        <div class="field"> 
          <span><%= f.label :curso %></span>
          <%= f.text_field :curso, autofocus: true, autocomplete: "curso" %>
        </div>
        <div class="field"> 
          <span><%= f.label :job %></span>
          <%= f.text_field :funcao, autofocus: true, autocomplete: "job" %>
        </div>
        <div class="field bio"> 
          <span><%= f.label :bio %></span>
          <%= f.text_area :bio, autofocus: true, autocomplete: "bio" %>
        </div>
        <% end %>
      </div>
    </div>  
  </div>
  <div class="bloco3">
  </div>
</div>
