<div class="list_container">
    <p id="notice"><%= notice %></p>
    <div class="page_title" style="text-transform:Uppercase;">
        <%= image_tag("listaproblemas.svg", alt: "Página Lista de Problemas") %>
    </div>
    <div class="menu menu_list">
      <div class="menu_burguer" onclick="myFunction(this)">
        <div class="line one"></div>
        <div class="line two"></div>
        <div class="line tres"></div>
      </div>
      <div class="open_menu">
          <a><%= link_to 'uc de queixas', root_path %></a>
          <a><%= link_to 'lista de problemas', 'listaproblemas' %></a>
          <a><%= link_to 'mapa', mapa_path %></a>
          <a><%= link_to 'estatísticas', estatisticas_path %></a>
          <a><%= link_to 'intervenções', intervencoes_path %></a>
          <a><%= link_to 'sobre', about_path %></a>
          <% if user_signed_in? %>
            <%= link_to('sair', destroy_user_session_path, method: :delete) %>
          <% else %>
            <a><%= link_to 'entrar', new_user_session_path %></a>
            <a><%= link_to 'registrar', new_user_registration_path %></a>
          <% end %>
      </div>
    </div>
    <div class="add">
        <a><%= link_to 'add more', new_problema_path %></a>
    </div>
     <div class="problemswrap">
        <div class="fix_scroll">
        <% @problemas.each do |problema| %>
            <%= link_to problema do %>
                <% if problema.id % 2 == 0 %>
                    <div class="sm_wrap invert">
                        <div class="info">
                            <span>No.00<%= problema.id %></span>
                            <h1><%= problema.title %></h1>
                        <p class="desc"><%= problema.description %></p>
                        </div>
                        <div class="fill">
                        </div>
                    </div>
                <% else %>
                    <div class="sm_wrap">
                        <div class="info">
                            <span class="mr20">No.00<%= problema.id %></span>
                            <h1 class="mr20"><%= problema.title %></h1>
                            <p class="mr20"><%= problema.description %></p>
                        </div>
                        <div class="fill">
                        </div>
                    </div>
                <% end %>
            <% end %>
        <% end %>
        </div>
    </div>
    <div class="page_foot" style="text-transform:Uppercase;">
        <%= image_tag("ucqueixa.svg", alt: "Logo Uc de Queixas") %>
    </div>
</div>