<div class="index_container">
  <p id="notice"><%= notice %></p>
  <div class="page_title">
    <span>No.00<%= @problema.id %></span>
  </div>
  <div class="problem_description">
    <div class="row show_desc">
      <p>
        <%= @problema.description %>
      </p>
    </div>
    <div class="row fill"></div>
  </div>
  <div class="problem_img">
  </div>
  <div class="top_info">
    <div class="title_local">
      <p>
        <strong>Titulo : </strong><%= @problema.title %>
      </p>
      <p>
        <strong>Localização : </strong><%= @problema.location %>
      </p>
    </div>
    <div class="actions">
      <% if current_user.id === @problema.author.id %>
      <%= link_to 'Edit', edit_problema_path(@problema) %>
      <%= link_to 'Back', listaproblemas_path %>
      <span><%= link_to 'Delete', @problema, method: :delete, data: { confirm: 'Are you sure?' } %></span>
      <% else %>
      <span><%= link_to 'Delete', @problema, method: :delete, data: { confirm: 'Are you sure?' } %></span>
      <% end %>
    </div>
  </div>
</div>