<div class="index_container">
    <div class=about_title>
        <%= image_tag("sobre.svg", :alt => "") %>
    </div>
    <div class="menu menu_homepage">
      <div class="menu_burguer" onclick="myFunction(this)">
        <div class="line one"></div>
        <div class="line two"></div>
        <div class="line tres"></div>
      </div>
      <div class="open_menu">
          <a><%= link_to 'uc de queixas', root_path %></a>
          <a><%= link_to 'lista de problemas', 'listaproblemas' %></a>
          <a><%= link_to 'mapa', root_path %></a>
          <a><%= link_to 'estatísticas', root_path %></a>
          <a><%= link_to 'intervenções', root_path %></a>
          <a><%= link_to 'sobre', about_path %></a>
          <% if user_signed_in? %>
            <%= link_to('sair', destroy_user_session_path, method: :delete) %>
          <% else %>
            <a><%= link_to 'entrar', new_user_session_path %></a>
            <a><%= link_to 'registrar', new_user_registration_path %></a>
          <% end %>
      </div>
    </div>
    <div class="primero_paco"></div>
    <div class="row about_info">
      <p>Uc de queixa é um projeto realizado no âmbito da cadeira de oficina de design e comunicação do mestrado de design e multimédia da Faculdade de Ciências e Tecnologia da Universidade de Coimbra. Este tem como objetivo sensabilizar e alertar a comunidade sobre a degradação física dos vários locais da Universidade de Coimbra, dos quais entramos em contacto diário na nossa vida académica.
      Esta plataforma é um local em que toda a comunidade pode encontrar os vários problemas que a comunidade acha que são prejudicais ou influenciam negativamente a nossa vida diária e nossa vida académica. É um local que centraliza toda a informação sobre estes problemas e a importância / necessidade que tal problema tem para ser tratado na opnião da comunidade.</p>
      <div class="row fill"></div>
    </div>
    <div class="about_foot" style="text-transform:Uppercase;">
        <%= image_tag("ucqueixa.svg", :alt => "") %>
    </div>
</div>