<div class="index_container">
    <div class="estatisticas_title">
        <%= image_tag("estatisticas.svg", alt: "Página Sobre") %>
    </div>
    <div class="menu menu_homepage">
      <div class="menu_burguer" onclick="myFunction(this)">
        <div class="line one"></div>
        <div class="line two"></div>
        <div class="line tres"></div>
      </div>
      <div class="open_menu">
          <a><%= link_to 'uc de queixas', root_path %></a>
          <a><%= link_to 'lista de problemas', 'listaproblemas' %></a>
          <a><%= link_to 'mapa', mapa_path %></a>
          <a><%= link_to 'estatísticas', estatisticas_path %></a>
          <a><%= link_to 'intervenções', intervencoes_path %></a>
          <a><%= link_to 'sobre', about_path %></a>
          <% if user_signed_in? %>
            <%= link_to('sair', destroy_user_session_path, method: :delete) %>
          <% else %>
            <a><%= link_to 'entrar', new_user_session_path %></a>
            <a><%= link_to 'registrar', new_user_registration_path %></a>
          <% end %>
      </div>
    </div>
    <div class="stat_wrapper">
        <div class="row empty">
            <span class="stat_number"></span>
        </div>
        <div class="row blanco"></div>
    </div>
    <div class="options_wrapper">
        <div class="row options">
            <p class="users" onclick="stats(this)">Number of users</p>
            <p class="nproblems" onclick="stats(this)">Number of problems</p>
            <p class="polodois" onclick="stats(this)">Problems at Polo II</p>
            <p class="poloum" onclick="stats(this)">Problems at Polo I</p>
            <p class="solved" onclick="stats(this)">Problems solved</p>
        </div>
        <div class="row fill"></div>
    </div>
</div>