<div class="index_container">
    <div class="intervencoes_title" style="text-transform:Uppercase;">
        <%= image_tag("intervencoes.svg", :alt => "") %>
    </div>
    <div class="menu menu_homepage">
    <div class="menu_burguer" onclick="myFunction(this)">
      <div class="line one"></div>
      <div class="line two"></div>
     <% if user_signed_in? %>
        <div class="line tres"></div>
    <% else %>
        <div class="line three"></div>
        <% end %>
    </div>
    <div class="open_menu">
        <a><%= link_to 'uc de queixas', root_path %></a>
        <a><%= link_to 'lista de problemas', 'listaproblemas' %></a>
        <a><%= link_to 'mapa', mapa_path %></a>
        <a><%= link_to 'estatísticas', root_path %></a>
        <a><%= link_to 'intervenções', intervencoes_path %></a>
        <a><%= link_to 'sobre', about_path %></a>
        <% if user_signed_in? %>
          <%= link_to('sair', destroy_user_session_path, method: :delete) %>
        <% else %>
          <a><%= link_to 'entrar', new_user_session_path %></a>
          <a><%= link_to 'registrar', new_user_registration_path %></a>
        <% end %>
    </div>
  </div>
    <div class="block first"></div>
    <div class="block second"></div>
    <div class="block tercero"></div>
    <div class="block quatro"></div>
    <div class="block fifth"></div>
    <div class="about_foot" style="text-transform:Uppercase;">
        <%= image_tag("ucqueixa.svg", :alt => "") %>
    </div>
</div>