<div class="index_container">
    <div class="map_title">
        <%= image_tag("mapa.svg", alt: "Página Mapa") %>
    </div>
    <div class="menu menu_homepage">
      <div class="menu_burguer" onclick="myFunction(this)">
        <div class="line one"></div>
        <div class="line two"></div>
        <div class="line tres"></div>
      </div>
      <div class="open_menu">
          <a><%= link_to 'uc de queixas', root_path %></a>
          <a><%= link_to 'lista de problemas', 'listaproblemas' %></a>
          <a><%= link_to 'mapa', mapa_path %></a>
          <a><%= link_to 'estatísticas', estatisticas_path %></a>
          <a><%= link_to 'intervenções', intervencoes_path %></a>
          <a><%= link_to 'sobre', about_path %></a>
          <% if user_signed_in? %>
            <%= link_to('sair', destroy_user_session_path, method: :delete) %>
          <% else %>
            <a><%= link_to 'entrar', new_user_session_path %></a>
            <a><%= link_to 'registrar', new_user_registration_path %></a>
          <% end %>
      </div>
    </div>
    <div class="blank_space"></div>
    <div class="map_container">
      <div id='map' style='width: 100%; height: 100%;'></div>
    </div>
    <div class="about_foot" style="text-transform:Uppercase;">
        <%= image_tag("ucqueixa.svg", alt: "Logo Uc de Queixas") %>
    </div>
</div>
<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoiZmVuZ2xpIiwiYSI6ImNqbmtmZjMzcTB3dW8zcHRkeWtvdmsycjUifQ.NmkWCryb7-p2T8v-PZz5ig';
  var map = new mapboxgl.Map({
    center: [-8.415026, 40.185787],
    zoom: 16.4,
    pitch: 67,
    container: 'map',
    style: 'mapbox://styles/fengli/cjozxi5gz9lbx2ro4fu076kej'
  });
  map.on('load', function() {
    // Insert the layer beneath any symbol layer.
    var layers = map.getStyle().layers;

    var labelLayerId;
    for (var i = 0; i < layers.length; i++) {
        if (layers[i].type === 'symbol' && layers[i].layout['text-field']) {
            labelLayerId = layers[i].id;
            break;
        }
    }

    map.addLayer({
        'id': '3d-buildings',
        'source': 'composite',
        'source-layer': 'building',
        'filter': ['==', 'extrude', 'true'],
        'type': 'fill-extrusion',
        'minzoom': 15,
        'paint': {
            'fill-extrusion-color': '#2b2b2b',

            // use an 'interpolate' expression to add a smooth transition effect to the
            // buildings as the user zooms in
            'fill-extrusion-height': [
                "interpolate", ["linear"], ["zoom"],
                15, 0,
                15.05, ["get", "height"]
            ],
            'fill-extrusion-base': [
                "interpolate", ["linear"], ["zoom"],
                15, 0,
                15.05, ["get", "min_height"]
            ],
            'fill-extrusion-opacity': .6
        }
    }, labelLayerId);

    map.addLayer({
        "id": "points",
        "type": "symbol",
        "source": {
            "type": "geojson",
            "data": {
                "type": "FeatureCollection",
                "features": [{
                    "type": "Feature",
                    "geometry": {
                        "type": "Point",
                        "coordinates": [-8.415885, 40.185323]
                    },
                    "properties": {
                        "title": "No.001"
                    }
                }, {
                    "type": "Feature",
                    "geometry": {
                        "type": "Point",
                        "coordinates": [-8.412617, 40.186430]
                    },
                    "properties": {
                        "title": "No.002"
                    }
                }, {
                    "type": "Feature",
                    "geometry": {
                        "type": "Point",
                        "coordinates": [-8.411491, 40.186359]
                    },
                    "properties": {
                        "title": "No.003"
                    }
                }, {
                    "type": "Feature",
                    "geometry": {
                        "type": "Point",
                        "coordinates": [-8.416258, 40.186991]
                    },
                    "properties": {
                        "title": "No.004"
                    }
                }, {
                    "type": "Feature",
                    "geometry": {
                        "type": "Point",
                        "coordinates": [-8.416318, 40.185031]
                    },
                    "properties": {
                        "title": "No.005"
                    }
                }, {
                    "type": "Feature",
                    "geometry": {
                        "type": "Point",
                        "coordinates": [-8.415618, 40.186197]
                    },
                    "properties": {
                        "title": "No.006"
                    }
                }, {
                    "type": "Feature",
                    "geometry": {
                        "type": "Point",
                        "coordinates": [-8.416247, 40.186437]
                    },
                    "properties": {
                        "title": "No.007"
                    }
                }, {
                    "type": "Feature",
                    "geometry": {
                        "type": "Point",
                        "coordinates": [-8.413795, 40.185842]
                    },
                    "properties": {
                        "title": "No.008"
                    }
                }, {
                    "type": "Feature",
                    "geometry": {
                        "type": "Point",
                        "coordinates": [-8.415416, 40.184726]
                    },
                    "properties": {
                        "title": "No.009"
                    }
                }]
            }
        },
        "layout": {
            "text-field": "{title}",
            "text-size": 24,
            "text-font": ["Poppins Black"],
            "text-offset": [0, 0.6],
            "text-anchor": "bottom",
            'text-allow-overlap': true
        },
        'paint': {
            "text-color": "#fafafa",
            "text-halo-color": "#fd7248",
            "text-halo-width": 17
        }
    });
});
</script>